<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server/index.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
 
        <rewrite>
            <rules>
                <rule name="all">
                    <match url="/*" />
                    <action type="Rewrite" url="server/index.js" />
                </rule>
            </rules>
        </rewrite>

        <iisnode
      nodeProcessCommandLine="&quot;C:\Program Files\nodejs\node.exe&quot;" 
      interceptor="&quot;C:\Program Files\iisnode\interceptor.js&quot;" 
      promoteServerVars="REMOTE_ADDR"/>
    </system.webServer>
</configuration>